@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fast Delivery. Low Prices. Food variety</h1>
    <p class="lead"> We know that you can do not have cafe in your office. Wanna eat something? Order and you will get fast delivery with low prices. We are here for you. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Order now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Find most popular meals</h2>
        <p>
            We can offer you reports to find out what you eat, how popular is your favourite food and so on.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Try Now &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Create your own forms</h2>
        <p> You can create, edit and remove your own forms. Right now, Right here. Just click. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Create new &raquo;</a></p>
    </div>
</div>